/* VARIÁVEIS COM AS CORES DO SITE */
:root {
    --cor-fundo: #D4C9BE;
    --cor-secundaria: #123458; 
    --cor-terciaria: #F1EFEC;
}

/* CONFIGURAÇÕES GERAIS DO SITE */
body{
    background-color: var(--cor-fundo);
    color: var(--cor-secundaria);
}

h1{
    font-size: 60px;
    font-weight: bold;
}

h2{
    font-size: 45px;
}

a{
    color: var(--cor-secundaria);
    text-decoration: none;
    background-color: var(--cor-terciaria);
}

p{
    font-size: 1.5rem;
}

li{
    font-size: 1.4rem;
    margin: 5px 0 5px 0;
}

/* CONFIGURAÇÕES DA PAGINA HOME */
.cabecalho_home{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.cabecalho_menu_home{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    max-width: 500px;
    margin-top: 1.5rem;
}

.cabecalho_link_menu_home{
    font-size: 25px;
    flex: 0 0 calc(50% - 0.5rem);
    min-width: 150px;
    padding: 1rem 1.5rem;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.cabecalho_link_menu_home:hover{
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
}

/* CONFIGURAÇÃO GERAL PARA CABEÇALHO */
.cabecalho_geral{
    padding: 2% 0% 0% 17%;
}

.cabecalho_menu_geral{
    display: flex;
    gap: 60px;
}

.cabecalho_link_menu_geral{
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 8px;
    padding: 0.4rem 0.7rem;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.cabecalho_link_menu_geral:hover{
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
}

/* CONFIGURAÇÃO DE TEXTO NA PÁGINA SOBRE MIM */
.apresentacao{
    padding: 2% 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao_conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.apresentacao_conteudo_texto{
    row-gap: 5px;
}

/* CONFIGURAÇÃO DAS IMAGENS */
.minha_foto{
    padding-left: 10px;
    width: 45%;
    border-radius: 50%;
}

.logo_java{
    width: 30%;
}

/* CONFIGURAÇÃO DOS LINKS DO PORTIFÓLIO  */
.link_certificado{
    border-radius: 8px;
    padding: 0.2rem 0.4rem;
    margin-top: 30px;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.link_certificado:hover{
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
}

/* CONFIGURAÇÕES DO FORMULÁRIO */
.apresentacao_formulario{
    background: var(--cor-terciaria);
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.formulario_itens{
    margin-bottom: 15px;
}

.formulario_itens label{
    width: 100%;
    font-weight: bold;
}

.formulario_itens input,
.formulario_itens textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

.formulario_itens textarea{
    resize: none;
    height: 100px;
}

.formulario_itens button{
    width: 100%;
    padding: 10px;
    background-color: var(--cor-fundo);
    color: var(--cor-secundaria);
    font-weight: bold;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;

}

.formulario_itens button:hover{
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
    transition: background-color 0.3s;;
}

@media (max-width:1300px) {
    .cabecalho {
       padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 3%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
    
}